@model UserViewModel
@{
    ViewData["Title"] = "Ban";
}

<h2>Are you sure you want to ban @Model.Username ?</h2>

<form asp-area="Admin" asp-controller="Users" asp-action="Ban" asp-route-id="@Model.Id" method="post" class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-10 col-sm-push-2">
            <input type="submit" value="Ban" class="btn btn-danger" />
            <a asp-area="Admin" asp-controller="Users" asp-action="Index" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>

