@page "{id}"
@model Recipes.Web.Pages.Reviews.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h2>Review for @Model.RecipeTitle</h2>
<h5>by @Model.Author</h5>

<div class="container break-text">
    <p>
        @Model.ReviewContent
    </p>
</div>